
<div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <h1>Log in</h1>
    <hr>
    <form class="form" method="post" action="/auth/login">
        <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
          <input type="text" class="form-control" placeholder="Email" name="email">
        </div>
        <div class="input-group margin-bottom-sm">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <input type="submit" value="log me in" class="btn btn-primary">
    </form>
</div>
