
<div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <h1>Sign up</h1>
    <hr>
    <form class="form" method="post" action="/auth/signup">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
         <input type="email" class="form-control" placeholder="Email address" name="email">
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>

        <input type="text" class="form-control" placeholder="Name" name="name">
    </div>

    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input type="password" class="form-control" placeholder="Password" name="password">
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input type="password" class="form-control" placeholder="Re-type password" name="password2">
    </div>
        <input type="submit" value="sign up" class="btn btn-primary">
    </form>
</div>
