<div class="tweet-list">

<% result.forEach(function(person){%>

<h1> Top 15 Tweets for:  <%= person.term %></h1>
 <% person.tweets.statuses.forEach(function(person){ %>
      <div class="well">
          <%= person.text %>
          <%= person.retweet_count %>
      </div>
    <% }) %>

<% }) %>

<script type="text/javascript">
 var twitter_result = <%- JSON.stringify(result) %>;
</script>

</div>