<h1>Trending tweets</h1>
	<h3>Hillary Tweets</h3>
	<% tweets.statuses.forEach(function (data){ %>
		<div class="well">
			<%= data.text %>
			<%= data.retweet_count %>
		</div>

		 <% }) %>
		 <img src="https://pbs.twimg.com/media/CMZ2TYoWIAETEWq.png">
</div>