<!DOCTYPE html>
<html>
<head>
  <title>News to Me</title>
  <!-- Latest compiled and minified CSS & JS -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/about.css">
  <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js"></script>
  <script type="text/javascript" src="/js/channel.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
  <script type="text/javascript" src="/js/tweets.js"></script>
</head>
<body>
<!-- Latest compiled and minified CSS & JS -->
<nav class="navbar navbar-default mynav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">News to Me</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li><a href="/"><i class="fa fa-home"></i></a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/channels">Channels</a></li>
      <li><a href="/channels/new" title="Create a new channel"><span class="glyphicon glyphicon-plus"></span></a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if(currentUser) { %>
          <li class="navbar-text">You are logged in as <b><%= typeof currentUser.name === 'string' ? currentUser.name : 'Unknown' %></b>.</li>
          <li><a href="/auth/logout">Logout</a></li>
        <% }else{ %>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/signup">Signup</a></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
 <% include partials/alerts %>
  <!-- <a href="/restricted" class="btn btn-danger">Go to restricted page</a> -->
  <%- body %>
</div>
</body>
</html>