<!DOCTYPE html>
<html>
<head>
  <title>News to Me</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>News 2 Me</h1>
  <% if(currentUser) { %>
    Hello, <b><%= typeof currentUser.name === 'string' ? currentUser.name : 'Unknown' %></b>.
    <a href="/auth/logout" class="btn btn-primary">Logout</a>
  <% }else{ %>
    <a href="/auth/login" class="btn btn-primary">Login</a>
    <a href="/auth/signup" class="btn btn-primary">Signup</a>
  <% } %>
  <br><br>
  <a href="/restricted" class="btn btn-danger">Go to restricted page</a>

  <%- body %>

</div>

</body>
</html>