body {
 font-family: 'Oxygen', sans-serif;
 background-image: url('../images/congruent_pentagon_faded.png');
}

.mynav {
 background-color: #444;
 border: 1px solid transparent;
}

.navbar-default .navbar-text {
  color: #cecece;
}

.container {
  border-radius: 6px;
}

.mynav .navbar-brand {
 font-size: 2em;
 padding: .5em;
}
.mynav.navbar-default .navbar-brand {
 color: #79BD8F ;
}
.mynav.navbar-default .navbar-nav>li>a {
 color: #999;
 font-size: 1.2em;
}
.mynav.navbar-default .navbar-nav>li>a:hover {
  color: #cecece;
}

.search-item {
 float: left;
 /*padding-left: 0;*/
}

.node {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.glyphicon-pencil {
  margin-left: 1em;
}

form label {
  margin-right: 1em;
}

form .btn-primary.add-term {
  margin-top: 1.7em;
  float: left;
}
.input_fields_wrap {
  margin-bottom: 2em;
}
.display-table thead {
  color: #00473C;
}

.alert {
  opacity: .8;
}
.user-message {
  margin-bottom: 2em;
}

.display-table {
  margin-left: .5em;
}

.input-group-addon {
  background-color: rgba(255,79,56,.2);
}
input[type="text"],
input[type="password"],
input[type="email"],
.input-group-addon {
  border: 1px solid #999;
}
form .btn-primary,
.btn-primary.glyphicon.glyphicon-pencil {
  background-color: #007D68;
  border: 1px solid #00473C;
  text-align: right;
  transition: background-color .5s;
  float: right;
}

form .btn-primary:hover {
  background-color: #00473C;
}

.negKeyColor,
.neuKeyColor,
.posKeyColor {
  width: 2em;
  height: 1em;
  border: 1px solid rgba(0,0,0,.6);
  float: right;
  clear: right;
  margin: .5em 2em 0 1em;
}
.negKey,
.neuKey,
.posKey {
  float: right;
  margin: .5em 0em 0 1em;
  font-size: .9em;
}
.negKey {
  margin-top: 1.5em;
}
.negKeyColor {
  background-color: #FF6138;
  margin-top: 1.5em;
}

.neuKeyColor {
  background-color: #fff;
}

.posKeyColor {
  background-color: #00A388;
}

h1, h2, h3 {
 font-weight: normal;
 text-align: center;
 margin-bottom: 1em;
}

h2 {
  margin-bottom: .7em;
  margin-top: .2em;
}

h3 {
  margin: .5em 1em 0;
}

ul.search-items {
 padding: 0;
}

.well {
 opacity: .7;
 border: 1px solid #79BD8F;
}

.search-item li {
 list-style-type: none;
 padding: 1em 1.5em;
 margin: .5em 0;
 background-color: rgba(0,0,0,.6) ;
 border: 1px solid #79BD8F ;
 position: relative;
 border-radius: 5px;
 color: #fff;
 transition: padding 0.5s, background-color .5s;
}

.search-item li:hover {
  padding: 1em ;
  background-color: rgba(0,0,0,.8);
}

ul.search-items h4 {
 /*margin-top: 0;*/
 text-align: center;
}

form {
  margin-bottom: 3em;
}

.tweet-num {
 float: right;
 margin: 1em 1em 0 0;
}

.termImage img {
 width: 120px;
 height: 120px;
 border: 1px solid #000;
 display: block;
 margin: 0 auto 1em;
 border: 1px solid #000;
 border-radius: 50%;
}

.pop-channel {
  margin-top: .5em;
}

/* FORM styles --> */
.input-group {
 margin-bottom: .5em;
}

.trending-leader {
  color: #007D68;
}

.leaderboard-header div h3 {
  margin-bottom: .5em;
}
.trending-leaderboard {
   border: 2px solid rgba(0,0,0,.6);
   margin-bottom: 1em;
   background-color:  rgba(255,255,255,.5)
}

.trending-leaderboard .termImage img {
  margin-top: -3em;
}

.stats {
  text-align: center;
}
.stats-title {
  font-weight: bold;
}

/* D3 styles --> */

svg {
 position: relative;
 margin: 0 auto;
 display: block;
}



svg .circle {
 fill: yellow;
 stroke: red;
 stroke-width: 1;
}

svg div.bar {
 background-color: #000000 ;
 width: 10px;
 height: 20px;
 display: inline-block;
 margin-right: 2px;
}

.before-tweet-list rect {
  position: relative;
}

div.tooltip {
  font-family: 'Titillium Web', sans-serif;
  font-weight: normal;
  position: absolute;
  text-align: center;
  width: 400px;
  max-height: 150px;
  padding: .5em;
  font-size: 1.2em;
  background-color: #000;
  color: #fff;
  border: 1px solid #cecece;
  border-radius: 4px;
  pointer-events: none;
  box-shadow: 2px 2px 10px #777;
}

div.tooltip i {
  color: #59adeb;
}

.term-thumb {
  width: 75px;
  height: 75px;
}
@media only screen and (max-width: 480px) {

  .trending-leaderboard .termImage img {
      margin-top: -2em;
  }
}
