body {
 background-color: #555;
}

.mynav {
 min-height: 80px;
 background-color: #444;
 border: 1px solid #777;
}

.mynav .navbar-brand {
 font-size: 4em;
 padding: .5em;
}
.mynav.navbar-default .navbar-brand {
 color: #79BD8F ;
}
.mynav.navbar-default .navbar-nav>li>a {
 color: #999;
}

.search-item {
 float: left;
 /*padding-left: 0;*/
}

h1, h2 {
 color: #e6e6e6 ;
 font-weight: normal;
 text-align: center;
 margin-bottom: 1em;
}

ul.search-items {
 padding: 0;
}

.well {
 opacity: .8;
}

.search-item li {
 list-style-type: none;
 padding: 1em;
 margin: .5em 0;
 background-color: #e6e6e6 ;
 position: relative;
 border: 1px solid #cecece ;
 border-radius: 5px;
}

ul.search-items h4 {
 /*margin-top: 0;*/
 text-align: center;
}

.tweet-num {
 float: right;
 margin: 1em 1em 0 0;
}

h4 {
 /*padding-left: 1em;*/
}

.headshot img {
 /*margin-right: 1em;*/
 width: 80px;
 border: 1px solid #000;
 display: block;
 margin: 0 auto 1em;
 border: 1px solid #999;
 border-radius: 5px;
}

.termImage img {
 /*margin-right: 1em;*/
 width: 200px;
 height: 200px;
 border: 1px solid #000;
 display: block;
 margin: 0 auto 1em;
 border: 1px solid #999;
 border-radius: 5px;
}

/* FORM styles --> */
.input-group {
 margin-bottom: .5em;
}


/* D3 styles --> */

svg {
 /*background-color: #fff;*/
}

svg .circle {
 fill: yellow;
 stroke: red;
 stroke-width: 1;
}

svg div.bar {
 background-color: #000000 ;
 width: 10px;
 height: 20px;
 display: inline-block;
 margin-right: 2px;
}