<div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
    <h1>Create a Channel</h1>
    <hr>
    <form class="form-horizontal" method="post" action="/channels">
    <label>Channel Name</label><input type="text" required="true" class="form-control" placeholder="Channel (i.e.  Sports)" name="name">
    <div class="input-group margin-bottom-sm">
          <div class="input_fields_wrap">
            <label>Interest</label><input type="text" class="form-control" placeholder="Interest (i.e. Kobe Bryant" name="term">
          </div>
       <div>
        <button type="submit" class="btn btn-default">Submit</button>
        <button class="add_field_button btn btn-default">+</button>
       </div>
   </form>
</div>
