
<div class="col-md-8 col-lg-8 col-md-offset-3 col-lg-offset-2">
  <h1>New Channel Setup - <%= thisChannel.name %></h1>
  <hr>
  <form class="form" method="post" action="/channels/<%= thisChannel.id %>/terms">

    <div class="row col-md-12">
      <div class="input-group margin-bottom-sm">
        <div class="input_fields_wrap">
          <div class="col-md-4">
            <span><label>Search Term</label><input type="text" class="form-control" placeholder="Search Term (word, @tag, #tag)" name="term"></span>
          </div>
          <div class="col-md-7">
            <span><label>Term's Image Url (optional)</label><input type="text" class="form-control" placeholder="Image URL for search Term" name="image_url"></span>
          </div>
          <div class="col-md-1 pull-right">
            &nbsp;
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      <div>
    </div>
  </form>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Search Term</th>
        <th>Term's Image Url</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% thisChannel.searchterms.forEach(function(term) { %>
        <tr>
          <td><%= term.term %></td>
          <td><%= term.image_url %></td>
          <td><a href="#" class="glyphicon glyphicon-trash" id="deleteTerm"></a></td>
        </tr>
      <% }) %>
      </tbody>
  </table>


</div>