<div class="blog" id="blog">
	<div class="container">
		<div class="blog-info text-center">
			<h2>ABOUT THE DEVELOPERS</h2>
		</div>
		<div class="blog-grids">
			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="https://www.linkedin.com/pub/mukhtar-sharif34/20/474/294" target="_blank"><img src="images/mSharif_image.jpg" alt=""/></a>
					<div class="blog-text">
						<h4>Mukhtar Shariff</h4>
						<h5>Full-stack Web-Developer</h5>
						<div class="stripa"></div>
						<p>I love learning new things.  Its why I became a developer, I am on a life-long journey to learn as much as I can about as many things as possible.</p>
					</div>
					<div class="blog-para">
							<ul>
								<li><a href="https://www.linkedin.com/pub/mukhtar-sharif34/20/474/294" target="_blank">LinkedIn</a></li>
								<li><a href="https://github.com/msharif34" target="_blank">Git-hub</a></li>
							</ul>
					</div>
					<div class="blog-pos">
					</div>
				</div>
			</div>
			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="https://www.linkedin.com/in/cherylafitzgerald" target="_blank"><img src="images/20150820_Cheryl_FitzGerald_BW_005.jpg" alt=""/></a>
					<div class="blog-text">
						<h4>Cheryl FitzGerald</h4>
						<h5>Full-stack Web-Developer</h5>
						<div class="stripa"></div>
						<p>I am a designer turned developer, previously designing web interfaces for users around the globe. I learned to program because I love to solve problems and to create.</p>
					</div>
					<div class="blog-para">
							<ul>
								<li><a href="https://www.linkedin.com/in/cherylafitzgerald" target="_blank">LinkedIn</a></li>
								<li><a href="https://github.com/cherylafitz" target="_blank">Git-hub</a></li>
							</ul>
					</div>
					<div class="blog-pos">
					</div>
				</div>
			</div>
			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="https://www.linkedin.com/in/davidahemmer" target="_blank"><img src="images/20150820_Dave_Hemmer_BW_004.jpg" alt=""/></a>
					<div class="blog-text">
						<h4>Dave Hemmer</h4>
						<h5>Full-stack Web-Developer</h5>
						<div class="stripa"></div>
						<p>More than two decades of experience building, improving and advancing technology and communications systems to support staff from three to over a thousand.</p>
					</div>

					<div class="blog-para">
							<ul>
								<li><a href="https://www.linkedin.com/in/davidahemmer" target="_blank">LinkedIn</a></li>
								<li><a href="https://github.com/cjoybluv" target="_blank">Git-hub</a></li>
							</ul>
					</div>
					<div class="blog-pos">

					</div>
				</div>
			</div>
</div>
<!--//blog-->
