<<<<<<< HEAD
<h2>Home Index</h2>


<p>channel_name is: <strong><%= channel_name %></strong></p>

<p>search_terms are: </p>

<ul>
  <% search_terms.forEach(function(term) { %>
    <li><strong><%= term %></strong></li>
  <% }); %>
</ul>
=======
<h1>Home</h1>
>>>>>>> bfb40a20e18cea373590402425e10e59c500558a
